#root {
  margin: 0 auto;
}
* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html, body, #root {
  height: 100%;
}
iframe, #videoContainer > * {
  width: 100%;
  height: 100%;
}
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}